<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'css/bootstrap.css'
                'css/bootstrap-theme.css'
                'css/theme.css'
                '@MnuMainBundle/Resources/public/css/menu.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}  
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                'js/jquery-2.1.0.js'
                'js/bootstrap.js'
                'js/masonry.pkgd.js'
                '@MnuMainBundle/Resources/public/js/menus.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
