{% for menu in menus %}
    {% if loop.index % 4 == 0 %}
        <div class="row">
    {% endif %}
    <div class="menu col-md-3">
        {{ include('MnuMainBundle:Default:menu.html.twig', {'menu': menu}) }}
    </div>
    {% if loop.index % 4 == 0 %}
        </div>
    {% endif %}   
{% endfor %}