<div id="menus">
    {% for menu in menus %}
        {% if loop.index % 6 == 0 %}
            <div class="row">
        {% endif %}
        <div class="menu">
            {{ include('MnuMainBundle:Default:menu.html.twig', {'menu': menu}) }}
        </div>
        {% if loop.index % 6 == 0 %}
            </div>
        {% endif %}   
    {% endfor %}
</div>